{% extends "base.html" %}
{% block content %}
<div class="bg-white p-8 rounded-3xl shadow-sm border border-slate-100">
    <h2 class="text-2xl font-bold mb-6 text-blue-900">Agendar Dia</h2>
    <form method="POST" class="space-y-6">
        <div>
            <label class="text-xs font-bold text-slate-400 uppercase ml-1">Data selecionada</label>
            <input type="date" name="data" class="w-full p-4 bg-slate-50 rounded-xl border-none text-lg font-semibold" required>
        </div>
        <div class="flex gap-4">
            <div class="w-1/2">
                <label class="text-xs font-bold text-slate-400 uppercase ml-1">Início</label>
                <input type="time" name="inicio" value="09:00" class="w-full p-4 bg-slate-50 rounded-xl border-none font-bold" required>
            </div>
            <div class="w-1/2">
                <label class="text-xs font-bold text-slate-400 uppercase ml-1">Fim</label>
                <input type="time" name="fim" value="15:30" class="w-full p-4 bg-slate-50 rounded-xl border-none font-bold" required>
            </div>
        </div>
        <button class="w-full bg-green-600 text-white font-bold py-4 rounded-xl shadow-lg">Confirmar Reserva</button>
        <a href="/" class="block text-center text-slate-400 text-sm font-bold">Voltar</a>
    </form>
</div>
{% endblock %}